// Responsive Grid
// ========================================

// Responsive grid classes from $breakpoints
//   .grid-xs-#-#
//   .grid-sm-#-#
//   .grid-md-#-#
//   .grid-lg-#-#

$columns: 12

// Counting down from 12, for 12 columns

@while 1 <= $columns

  @each $name, $value in $breakpoints

    @media (min-width: $value)

      @for $column from 1 to $columns

        .grid-#{$column}-#{$columns}-#{$name}
          width: ($column/$columns) * 100%

  $columns: $columns - 1
