// Modals
// ========================================

$modal-width: 660px !default
$modal-breakpoint: $breakpoint-md + 1 !default

.modal
  background-color: rgba($slate-dark, .8)
  bottom: 0
  left: 0
  opacity: 0
  overflow-x: hidden
  overflow-y: auto
  pointer-events: none
  position: fixed
  right: 0
  top: 0
  transition: $transition-all
  z-index: 99

  @media (min-width: $modal-breakpoint)
    +rem(padding, $baseline-step * 10 $gutter)

.modal-fade
.modal:target
  opacity: 1
  pointer-events: all

.modal-content
  background-color: $white
  margin: 0 auto

  @media (min-width: $modal-breakpoint)
    +rem(border-radius, $border-radius-base)
    +rem(box-shadow, 0 0 0 4px rgba($black, .15))
    +rem(max-width, $modal-width)
    transform: translate(0,0)

.modal-header,
.modal-footer
  +bump(padding, baselines-x-small gutters-half)
  
  @media (min-width: $modal-breakpoint)
    +bump(padding, box)

.modal-header
  position: relative
  text-align: center

  p:last-child
    margin: 0

.modal-title
  +s-bravo
  font-weight: 400
  margin: 0

.modal-body,
.modal-body-alt
  background-color: $white-offset
  +rem(border, 1px solid $gray-light)
  +rem(border-width, 1px 0)

.modal-body
  +bump(padding, baselines gutters-half)

  @media (min-width: $modal-breakpoint)
    +rem(padding, ($baseline-base - 1) $gutter)

  p:last-child
    margin-bottom: 0

// Nav

.modal-nav
  +bump(padding, gutters)

  li
    +rem(margin-bottom, -1px)
    +bump(padding, gutters)
    position: relative
    z-index: 1

  a
    +rem(border-bottom, 5px solid transparent)
    color: $gray
    display: block
    +s-delta
    +rem(padding-bottom, $baseline-x-small)
    text-align: center

    &:hover,
    &:focus,
    &:active
      color: $blue

    &.modal-nav-active
      border-color: $blue
      color: $black
      cursor: default

.modal-close
  content: ''
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 0
