// Colors
// ========================================

// Brand palettes

$blue:         #33a9e0;
$blue-light:   #e1f2fa;
$blue-dark:    #0076ad;

$slate:        #45454c;
$slate-light:  #efeff4;
$slate-dark:   #1e1e21;

$red:          #cb4e52;
$red-light:    #f7e2e2;
$red-dark:     #9c292d;

$gold:         #f3ae4e;
$gold-light:   #fceddf;
$gold-dark:    #c07b1b;

$purple:       #6479bf;
$purple-light: #cbd6f4;
$purple-dark:  #31468c;

$orange:       #ed844a;
$orange-light: #f4d4c6;
$orange-dark:  #ba5117;

$green:        #45ad60;
$green-light:  #c8edcd;
$green-dark:   #127a2d;

$pink:         #d37295;
$pink-light:   #f2d1e3;
$pink-dark:    #a03f62;

// Monochromatic palette

$white:             #fff;
$white-offset:      #f7f7f7;
$white-offset-alt:  #fafafa;
$gray-light:        #ccc;
$gray-light-alt:    #e6e6e6;
$gray:              #999;
$gray-dark:         #666;
$black-offset:      #333;
$black:             #000;

// Alt brand palettes

$blue-alt:          #0076ad;
$blue-light-alt:    #eea8e0;

$blue-slate:        #364a60;
$blue-slate-light:  #9ea5ad;
$blue-slate-dark:   #213141;

// Color class name map

$colors: (
  "subtle":           $gray,
  "success":          $green,
  "warning":          $gold,
  "danger":           $red,

  "blue":             $blue,
  "blue-light":       $blue-light,
  "blue-dark":        $blue-dark,
  "blue-alt":         $blue-alt,
  "blue-light-alt":   $blue-light-alt,
  "blue-slate":       $blue-slate,
  "blue-slate-light": $blue-slate-light,
  "blue-slate-dark":  $blue-slate-dark,
  "slate":            $slate,
  "slate-light":      $slate-light,
  "slate-dark":       $slate-dark,
  "red":              $red,
  "red-light":        $red-light,
  "red-dark":         $red-dark,
  "gold":             $gold,
  "gold-light":       $gold-light,
  "gold-dark":        $gold-dark,
  "purple":           $purple,
  "purple-light":     $purple-light,
  "purple-dark":      $purple-dark,
  "orange":           $orange,
  "orange-light":     $orange-light,
  "orange-dark":      $orange-dark,
  "green":            $green,
  "green-light":      $green-light,
  "green-dark":       $green-dark,
  "pink":             $pink,
  "pink-light":       $pink-light,
  "pink-dark":        $pink-dark,

  "white":            $white,
  "white-offset":     $white-offset,
  "white-offset-alt": $white-offset-alt,
  "gray-light":       $gray-light,
  "gray-light-alt":   $gray-light-alt,
  "gray":             $gray,
  "gray-dark":        $gray-dark,
  "black-offset":     $black-offset,
  "black":            $black
);
