// Layout
// ========================================

// Gutters

$gutter:      30px;
$gutter-half: $gutter / 2;

// Baselines

$baseline-step:     6px;
$baseline-x-small:  $baseline-step * 2; // 12px
$baseline-small:    $baseline-step * 3; // 18px
$baseline-base:     $baseline-step * 4; // 24px
$baseline-large:    $baseline-step * 5; // 30px
$baseline-x-large:  $baseline-step * 6; // 36px
$baseline-xx-large: $baseline-step * 7; // 42px

$baselines: (
  "step",     $baseline-step
  "x-small",  $baseline-x-small
  "small",    $baseline-small
  "base",     $baseline-base
  "large",    $baseline-large
  "x-large",  $baseline-x-large
  "xx-large", $baseline-xx-large
);

// Border radius

$border-radius-base: 6px;
$border-radius-mini: 4px;

// Breakpoints

$breakpoint-xs: 480px;
$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$breakpoints: (
  "xs", $breakpoint-xs
  "sm", $breakpoint-sm
  "md", $breakpoint-md
  "lg", $breakpoint-lg
);
