:root {
  --black: #000000;
  --black-offset: #333333;
  --gray-dark: #666666;
  --gray: #999999;
  --gray-light: #cccccc;
  --white-offset: #f7f7f7;
  --white: #ffffff;

  --transparent: rgba(255, 255, 255, 0);

  --black-90: rgba(0, 0, 0, .9);
  --black-80: rgba(0, 0, 0, .8);
  --black-70: rgba(0, 0, 0, .7);
  --black-60: rgba(0, 0, 0, .6);
  --black-50: rgba(0, 0, 0, .5);
  --black-40: rgba(0, 0, 0, .4);
  --black-30: rgba(0, 0, 0, .3);
  --black-20: rgba(0, 0, 0, .2);
  --black-10: rgba(0, 0, 0, .1);
  --black-05: rgba(0, 0, 0, .05);
  --black-025: rgba(0, 0, 0, .025);
  --black-0125: rgba(0, 0, 0, .0125);

  --white-90: rgba(255, 255, 255, .9);
  --white-80: rgba(255, 255, 255, .8);
  --white-70: rgba(255, 255, 255, .7);
  --white-60: rgba(255, 255, 255, .6);
  --white-50: rgba(255, 255, 255, .5);
  --white-40: rgba(255, 255, 255, .4);
  --white-30: rgba(255, 255, 255, .3);
  --white-20: rgba(255, 255, 255, .2);
  --white-10: rgba(255, 255, 255, .1);
  --white-05: rgba(255, 255, 255, .05);
  --white-025: rgba(255, 255, 255, .025);
  --white-0125: rgba(255, 255, 255, .0125);

  --pink: #d37295;
  --pink-dark: #a03f62;
  --pink-light: #f2d1e3;
  --red: #cb4e52;
  --red-dark: #9c292d;
  --red-light: #f7e2e2;
  --orange: #ed844a;
  --orange-dark: #ba5117;
  --orange-light: #f4d4c6;
  --yellow: #f3ae4e;
  --yellow-dark: #c07b1b;
  --yellow-light: #fceddf;
  --green: #45ad60;
  --green-dark: #127a2d;
  --green-light: #c8edcd;
  --blue: #357edd;
  --blue-dark: #00449e;
  --blue-light: #96ccff;
  --purple: #6479bf;
  --purple-dark: #31468c;
  --purple-light: #cbd6f4;

  /* Belly Colors */
  --belly-blue: #33a9e0;
  --belly-blue-dark: #0076ad;
  --belly-blue-light: #e1f2fa;
  --belly-slate: #45454c;
  --belly-slate-dark: #1e1e21;
  --belly-slate-light: #efeff4;

  /* Hatch Colors */
  --hatch-green: #63bab0;
  --hatch-green-dark: #04575b;
  --hatch-green-light: #79e9dd;
  --hatch-green-x-light: #ebfcfa;
  --hatch-black: #232323;
  --hatch-slate: #484848;
  --hatch-gray-light: #f6f6f6;
}
