.hover-black:hover,
.hover-black:focus { color: var(--black); }
.hover-black-offset:hover,
.hover-black-offset:focus { color: var(--black-offset); }
.hover-gray-darkest:hover,
.hover-gray-darkest:focus { color: var(--gray-darkest); }
.hover-gray-dark:hover,
.hover-gray-dark:focus { color: var(--gray-dark); }
.hover-gray:hover,
.hover-gray:focus { color: var(--gray); }
.hover-gray-light:hover,
.hover-gray-light:focus { color: var(--gray-light); }
.hover-gray-lightest:hover,
.hover-gray-lightest:focus { color: var(--gray-lightest); }
.hover-white-offset:hover,
.hover-white-offset:focus { color: var(--white-offset); }
.hover-white:hover,
.hover-white:focus { color: var(--white); }

.hover-transparent:hover,
.hover-transparent:focus { color: var(--transparent); }

.hover-pink:hover,
.hover-pink:focus { color: var(--pink); }
.hover-pink-dark:hover,
.hover-pink-dark:focus { color: var(--pink-dark); }
.hover-pink-light:hover,
.hover-pink-light:focus { color: var(--pink-light); }
.hover-red:hover,
.hover-red:focus { color: var(--red); }
.hover-red-dark:hover,
.hover-red-dark:focus { color: var(--red-dark); }
.hover-red-light:hover,
.hover-red-light:focus { color: var(--red-light); }
.hover-orange:hover,
.hover-orange:focus { color: var(--orange); }
.hover-orange-dark:hover,
.hover-orange-dark:focus { color: var(--orange-dark); }
.hover-orange-light:hover,
.hover-orange-light:focus { color: var(--orange-light); }
.hover-yellow:hover,
.hover-yellow:focus { color: var(--yellow); }
.hover-yellow-dark:hover,
.hover-yellow-dark:focus { color: var(--yellow-dark); }
.hover-yellow-light:hover,
.hover-yellow-light:focus { color: var(--yellow-light); }
.hover-green:hover,
.hover-green:focus { color: var(--green); }
.hover-green-dark:hover,
.hover-green-dark:focus { color: var(--green-dark); }
.hover-green-light:hover,
.hover-green-light:focus { color: var(--green-light); }
.hover-blue:hover,
.hover-blue:focus { color: var(--blue); }
.hover-blue-dark:hover,
.hover-blue-dark:focus { color: var(--blue-dark); }
.hover-blue-light:hover,
.hover-blue-light:focus { color: var(--blue-light); }
.hover-blue-ocean:hover,
.hover-blue-ocean:focus { color: var(--blue-ocean); }
.hover-blue-ocean-dark:hover,
.hover-blue-ocean-dark:focus { color: var(--blue-ocean-dark); }
.hover-blue-ocean-medium:hover,
.hover-blue-ocean-medium:focus { color: var(--blue-ocean-medium); }
.hover-blue-ocean-light:hover,
.hover-blue-ocean-light:focus { color: var(--blue-ocean-light); }
.hover-purple:hover,
.hover-purple:focus { color: var(--purple); }
.hover-purple-dark:hover,
.hover-purple-dark:focus { color: var(--purple-dark); }
.hover-purple-light:hover,
.hover-purple-light:focus { color: var(--purple-light); }


.hover-bg-black:hover,
.hover-bg-black:focus { background-color: var(--black); }
.hover-bg-black-offset:hover,
.hover-bg-black-offset:focus { background-color: var(--black-offset); }
.hover-bg-gray-dark:hover,
.hover-bg-gray-dark:focus { background-color: var(--gray-dark); }
.hover-bg-gray:hover,
.hover-bg-gray:focus { background-color: var(--gray); }
.hover-bg-gray-light:hover,
.hover-bg-gray-light:focus { background-color: var(--gray-light); }
.hover-bg-gray-lightest:hover,
.hover-bg-gray-lightest:focus { background-color: var(--gray-lightest); }
.hover-bg-white-offset:hover,
.hover-bg-white-offset:focus { background-color: var(--white-offset); }
.hover-bg-white:hover,
.hover-bg-white:focus { background-color: var(--white); }

.hover-bg-transparent:hover,
.hover-bg-transparent:focus { background-color: var(--transparent); }

.hover-bg-pink:hover,
.hover-bg-pink:focus { background-color: var(--pink); }
.hover-bg-pink-dark:hover,
.hover-bg-pink-dark:focus { background-color: var(--pink-dark); }
.hover-bg-pink-light:hover,
.hover-bg-pink-light:focus { background-color: var(--pink-light); }
.hover-bg-red:hover,
.hover-bg-red:focus { background-color: var(--red); }
.hover-bg-red-dark:hover,
.hover-bg-red-dark:focus { background-color: var(--red-dark); }
.hover-bg-red-light:hover,
.hover-bg-red-light:focus { background-color: var(--red-light); }
.hover-bg-orange:hover,
.hover-bg-orange:focus { background-color: var(--orange); }
.hover-bg-orange-dark:hover,
.hover-bg-orange-dark:focus { background-color: var(--orange-dark); }
.hover-bg-orange-light:hover,
.hover-bg-orange-light:focus { background-color: var(--orange-light); }
.hover-bg-yellow:hover,
.hover-bg-yellow:focus { background-color: var(--yellow); }
.hover-bg-yellow-dark:hover,
.hover-bg-yellow-dark:focus { background-color: var(--yellow-dark); }
.hover-bg-yellow-light:hover,
.hover-bg-yellow-light:focus { background-color: var(--yellow-light); }
.hover-bg-green:hover,
.hover-bg-green:focus { background-color: var(--green); }
.hover-bg-green-dark:hover,
.hover-bg-green-dark:focus { background-color: var(--green-dark); }
.hover-bg-green-light:hover,
.hover-bg-green-light:focus { background-color: var(--green-light); }
.hover-bg-blue:hover,
.hover-bg-blue:focus { background-color: var(--blue); }
.hover-bg-blue-dark:hover,
.hover-bg-blue-dark:focus { background-color: var(--blue-dark); }
.hover-bg-blue-light:hover,
.hover-bg-blue-light:focus { background-color: var(--blue-light); }
.hover-bg-blue-ocean:hover,
.hover-bg-blue-ocean:focus { background-color: var(--blue-ocean); }
.hover-bg-blue-ocean-dark:hover,
.hover-bg-blue-ocean-dark:focus { background-color: var(--blue-ocean-dark); }
.hover-bg-blue-ocean-medium:hover,
.hover-bg-blue-ocean-medium:focus { background-color: var(--blue-ocean-medium); }
.hover-bg-blue-ocean-light:hover,
.hover-bg-blue-ocean-light:focus { background-color: var(--blue-ocean-light); }
.hover-bg-purple:hover,
.hover-bg-purple:focus { background-color: var(--purple); }
.hover-bg-purple-dark:hover,
.hover-bg-purple-dark:focus { background-color: var(--purple-dark); }
.hover-bg-purple-light:hover,
.hover-bg-purple-light:focus { background-color: var(--purple-light); }
