/* Text Colors */

.black {
  color: var(--black);
}
.black-offset {
  color: var(--black-offset);
}
.gray-dark {
  color: var(--gray-dark);
}
.gray {
  color: var(--gray);
}
.gray-light {
  color: var(--gray-light);
}
.white-offset {
  color: var(--white-offset);
}
.white {
  color: var(--white);
}

.black-90 {
  color: var(--black-90);
}
.black-80 {
  color: var(--black-80);
}
.black-70 {
  color: var(--black-70);
}
.black-60 {
  color: var(--black-60);
}
.black-50 {
  color: var(--black-50);
}
.black-40 {
  color: var(--black-40);
}
.black-30 {
  color: var(--black-30);
}
.black-20 {
  color: var(--black-20);
}
.black-10 {
  color: var(--black-10);
}
.black-05 {
  color: var(--black-05);
}

.white-90 {
  color: var(--white-90);
}
.white-80 {
  color: var(--white-80);
}
.white-70 {
  color: var(--white-70);
}
.white-60 {
  color: var(--white-60);
}
.white-50 {
  color: var(--white-50);
}
.white-40 {
  color: var(--white-40);
}
.white-30 {
  color: var(--white-30);
}
.white-20 {
  color: var(--white-20);
}
.white-10 {
  color: var(--white-10);
}

.pink {
  color: var(--pink);
}
.pink-dark {
  color: var(--pink-dark);
}
.pink-light {
  color: var(--pink-light);
}
.red {
  color: var(--red);
}
.red-dark {
  color: var(--red-dark);
}
.red-light {
  color: var(--red-light);
}
.orange {
  color: var(--orange);
}
.orange-dark {
  color: var(--orange-dark);
}
.orange-light {
  color: var(--orange-light);
}
.yellow {
  color: var(--yellow);
}
.yellow-dark {
  color: var(--yellow-dark);
}
.yellow-light {
  color: var(--yellow-light);
}
.green {
  color: var(--green);
}
.green-dark {
  color: var(--green-dark);
}
.green-light {
  color: var(--green-light);
}
.blue {
  color: var(--blue);
}
.blue-dark {
  color: var(--blue-dark);
}
.blue-light {
  color: var(--blue-light);
}
.purple {
  color: var(--purple);
}
.purple-dark {
  color: var(--purple-dark);
}
.purple-light {
  color: var(--purple-light);
}

/* Belly Brand Text Color Skins */

.belly-blue {
  color: var(--belly-blue);
}
.belly-blue-dark {
  color: var(--belly-blue-dark);
}
.belly-blue-light {
  color: var(--belly-blue-light);
}
.belly-slate {
  color: var(--belly-slate);
}
.belly-slate-dark {
  color: var(--belly-slate-dark);
}
.belly-slate-light {
  color: var(--belly-slate-light);
}

/* Hatch Brand Text Color Skins */

.hatch-green {
  color: var(--hatch-green);
}
.hatch-green-dark {
  color: var(--hatch-green-dark);
}
.hatch-green-light {
  color: var(--hatch-green-light);
}
.hatch-green-x-light {
  color: var(--hatch-green-x-light);
}
.hatch-black {
  color: var(--hatch-black);
}
.hatch-slate {
  color: var(--hatch-slate);
}
.hatch-gray-light {
  color: var(--hatch-gray-light);
}

/* Background Colors */

.bg-black {
  background-color: var(--black);
}
.bg-black-offset {
  background-color: var(--black-offset);
}
.bg-gray-dark {
  background-color: var(--gray-dark);
}
.bg-gray {
  background-color: var(--gray);
}
.bg-gray-light {
  background-color: var(--gray-light);
}
.bg-white-offset {
  background-color: var(--white-offset);
}
.bg-white {
  background-color: var(--white);
}
.bg-transparent {
  background-color: var(--transparent);
}

.bg-black-90 {
  background-color: var(--black-90);
}
.bg-black-80 {
  background-color: var(--black-80);
}
.bg-black-70 {
  background-color: var(--black-70);
}
.bg-black-60 {
  background-color: var(--black-60);
}
.bg-black-50 {
  background-color: var(--black-50);
}
.bg-black-40 {
  background-color: var(--black-40);
}
.bg-black-30 {
  background-color: var(--black-30);
}
.bg-black-20 {
  background-color: var(--black-20);
}
.bg-black-10 {
  background-color: var(--black-10);
}
.bg-black-05 {
  background-color: var(--black-05);
}
.bg-white-90 {
  background-color: var(--white-90);
}
.bg-white-80 {
  background-color: var(--white-80);
}
.bg-white-70 {
  background-color: var(--white-70);
}
.bg-white-60 {
  background-color: var(--white-60);
}
.bg-white-50 {
  background-color: var(--white-50);
}
.bg-white-40 {
  background-color: var(--white-40);
}
.bg-white-30 {
  background-color: var(--white-30);
}
.bg-white-20 {
  background-color: var(--white-20);
}
.bg-white-10 {
  background-color: var(--white-10);
}

.bg-pink {
  background-color: var(--pink);
}
.bg-pink-dark {
  background-color: var(--pink-dark);
}
.bg-pink-light {
  background-color: var(--pink-light);
}
.bg-red {
  background-color: var(--red);
}
.bg-red-dark {
  background-color: var(--red-dark);
}
.bg-red-light {
  background-color: var(--red-light);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-orange-dark {
  background-color: var(--orange-dark);
}
.bg-orange-light {
  background-color: var(--orange-light);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-yellow-dark {
  background-color: var(--yellow-dark);
}
.bg-yellow-light {
  background-color: var(--yellow-light);
}
.bg-green {
  background-color: var(--green);
}
.bg-green-dark {
  background-color: var(--green-dark);
}
.bg-green-light {
  background-color: var(--green-light);
}
.bg-blue {
  background-color: var(--blue);
}
.bg-blue-dark {
  background-color: var(--blue-dark);
}
.bg-blue-light {
  background-color: var(--blue-light);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-purple-dark {
  background-color: var(--purple-dark);
}
.bg-purple-light {
  background-color: var(--purple-light);
}

/* Belly Brand Background Skins */

.bg-belly-blue {
  background-color: var(--belly-blue);
}
.bg-belly-blue-dark {
  background-color: var(--belly-blue-dark);
}
.bg-belly-blue-light {
  background-color: var(--belly-blue-light);
}
.bg-belly-slate {
  background-color: var(--belly-slate);
}
.bg-belly-slate-dark {
  background-color: var(--belly-slate-dark);
}
.bg-belly-slate-light {
  background-color: var(--belly-slate-light);
}

/* Hatch Brand Background Skins */

.bg-hatch-green {
  background-color: var(--hatch-green);
}
.bg-hatch-green-dark {
  background-color: var(--hatch-green-dark);
}
.bg-hatch-green-light {
  background-color: var(--hatch-green-light);
}
.bg-hatch-green-x-light {
  background-color: var(--hatch-green-x-light);
}
.bg-hatch-black {
  background-color: var(--hatch-black);
}
.bg-hatch-slate {
  background-color: var(--hatch-slate);
}
.bg-hatch-gray-light {
  background-color: var(--hatch-gray-light);
}
