.collapse {
    border-collapse: collapse;
    border-spacing: 0;
}

.stripe-light:nth-child(odd) {
  background-color: var(--white-offset);
}

.stripe-dark:nth-child(odd) {
  background-color: var(--gray-light);
}
